
.tts{
    background-color: dimgray;
    border: radius 50%;


}

.ste{
   
   background-color: #ffb703!important;
   

}

.form-label{
    background-color: #ffb703 !important;
}

.groups{
    background-color: white;
}